<section>
    <div class="row bg-primary">
        <div class="col-md-4 text-center">
           <a href="/"> <img class="m-1" src="logo.avif" style="border-radius: 10px;" width="100px" height="100px" alt="image"></a>
        </div>
        <div class="col-md-8">
          <%if(username !== 'hello'){%>
            <ul class="nav mt-4 me-5 justify-content-end">
              <li class="nav-item">
                <a class="nav-link text-light" href="/">Welcome <%=username%></a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="#">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="/testi">Testinominal</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="#footer">Contact us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="/profile">Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="/changepassword">Change Password</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="/logout">Logout</a>
              </li>
            </ul>
          <%}%>
            
        </div>
        
    </div>
  </section>