<section id="header">
    <div class="container">
        <div class="row p-3">
            <div class="col-md-8"><h2>Welcome Admin</h2></div>
            <div class="col-md-4">
                <a href="/admin/logout"><button class="btn btn-danger">Logout</button></a>
            </div>
        </div>
    </div>
   </section>