<div class="col-md-3">
    <a href="/admin/banner"><button class="btn btn-success m-3">Banner Management</button></a>
    <a href="/admin/services"><button class="btn btn-success m-3">Service Management</button></a>
    <a href="/admin/testinominals"><button class="btn btn-success m-3">Testinominal Management</button></a>
    <a href="/admin/query"><button class="btn btn-success m-3">Query Management</button></a>
    <a href="/admin/users"><button class="btn btn-success m-3">user Management</button></a>

</div>