  node_modules/@mapbox/node-pre-gyp/node_modules/.bin/semver
        node_modules/@mapbox/node-pre-gyp/node_modules/.bin/semver.cmd
        node_modules/@mapbox/node-pre-gyp/node_modules/.bin/semver.ps1
        node_modules/@mapbox/node-pre-gyp/node_modules/semver/
        node_modules/@types/node/
        node_modules/@types/whatwg-url/dist/
        node_modules/bcrypt/bcrypt-5.1.0.tgz
        node_modules/bcrypt/test_alpine.sh
        node_modules/bson/lib/binary.d.ts
        node_modules/bson/lib/binary.d.ts.map
        node_modules/bson/lib/bson.d.ts
        node_modules/bson/lib/bson.d.ts.map
        node_modules/bson/lib/bson_value.d.ts
        node_modules/bson/lib/bson_value.d.ts.map
        node_modules/bson/lib/code.d.ts
        node_modules/bson/lib/code.d.ts.map
        node_modules/bson/lib/constants.d.ts
        node_modules/bson/lib/constants.d.ts.map
        node_modules/bson/lib/db_ref.d.ts
        node_modules/bson/lib/db_ref.d.ts.map
        node_modules/bson/lib/decimal128.d.ts
        node_modules/bson/lib/decimal128.d.ts.map
        node_modules/bson/lib/double.d.ts
        node_modules/bson/lib/double.d.ts.map
        node_modules/bson/lib/error.d.ts
        node_modules/bson/lib/error.d.ts.map
        node_modules/bson/lib/extended_json.d.ts
        node_modules/bson/lib/extended_json.d.ts.map
        node_modules/bson/lib/index.d.ts
        node_modules/bson/lib/index.d.ts.map
        node_modules/bson/lib/int_32.d.ts
        node_modules/bson/lib/int_32.d.ts.map
        node_modules/bson/lib/long.d.ts
        node_modules/bson/lib/long.d.ts.map
        node_modules/bson/lib/max_key.d.ts
        node_modules/bson/lib/max_key.d.ts.map
        node_modules/bson/lib/min_key.d.ts
        node_modules/bson/lib/min_key.d.ts.map
        node_modules/bson/lib/objectid.d.ts
        node_modules/bson/lib/objectid.d.ts.map
        node_modules/bson/lib/regexp.d.ts
        node_modules/bson/lib/regexp.d.ts.map
        node_modules/bson/lib/symbol.d.ts
        node_modules/bson/lib/symbol.d.ts.map
        node_modules/bson/lib/timestamp.d.ts
        node_modules/bson/lib/timestamp.d.ts.map
        node_modules/bson/lib/validate_utf8.d.ts
        node_modules/bson/lib/validate_utf8.d.ts.map
        node_modules/function-bind/.editorconfig
        node_modules/function-bind/.jscs.json
        node_modules/function-bind/.npmignore
        node_modules/function-bind/.travis.yml
        node_modules/has-flag/index.d.ts
        node_modules/has/
        node_modules/ip/
        node_modules/make-dir/node_modules/semver/CHANGELOG.md
        node_modules/mongodb/lib/operations/add_user.js
        node_modules/mongodb/lib/operations/add_user.js.map
        node_modules/mongodb/lib/operations/eval.js
        node_modules/mongodb/lib/operations/eval.js.map
        node_modules/mongodb/src/operations/add_user.ts
        node_modules/mongodb/src/operations/eval.ts
        node_modules/mongoose/.eslintrc.js
        node_modules/mongoose/.mocharc.yml
        node_modules/mongoose/lgtm.yml
        node_modules/mongoose/lib/document_provider.js
        node_modules/mongoose/lib/helpers/path/flattenObjectWithDottedPaths.js
        node_modules/mongoose/lib/plugins/removeSubdocs.js
        node_modules/mongoose/lib/schema/SubdocumentPath.js
        node_modules/mongoose/scripts/
        node_modules/mongoose/tools/
        node_modules/mongoose/tsconfig.json
        node_modules/nodemailer/CONTRIBUTING.md
        node_modules/nodemailer/postinstall.js
        node_modules/nodemon/node_modules/debug/CHANGELOG.md
        node_modules/nodemon/node_modules/debug/node.js
        node_modules/nodemon/node_modules/has-flag/
        node_modules/nodemon/node_modules/supports-color/
        node_modules/saslprep/
        node_modules/semver/CHANGELOG.md
        node_modules/semver/bin/semver
        node_modules/semver/semver.js
        node_modules/simple-update-notifier/node_modules/
        node_modules/smart-buffer/
        node_modules/socks/